DB_USER=admin
DB_PASSWORD=123456
DB_HOST=db
DB_PORT=5432
DB_NAME=student_db
PORT=4000
JWT_SECRET=dev-secret
PASSWORD_SALT_ROUNDS=10
STUDENT_SERVICE_ADDR=student_service:50051
COURSE_SERVICE_ADDR=course_service:50052
ENROLLMENT_SERVICE_ADDR=enrollment_service:50053
DB_ADMIN_DATABASE=postgres
