NODE_ENV=development
PORT=4000
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=change-me-local-only
DB_NAME=course_db
AUTH_SECRET=change-me-local-only
AUTH_TOKEN_EXPIRES_IN=7d
AUTH_PASSWORD_SALT_ROUNDS=10
NEED_SEED=true
POSTGRES_PASSWORD=change-me-local-only