<div
	class="footer col-12 bg-secondary-subtle bg-gradient rounded d-flex justify-content-center align-items-center p-1"
>
	<small class="text-secondary-emphasis">Footer content goes here</small>
</div>
