<nav
	class="navbar bg-warning-subtle bg-gradient bg-opacity-75 flex-column align-items-start flex-sm-row align-items-sm-center py-0 ps-3 rounded"
>
	<a href="/" class="navbar-brand">
		<i class="bi bi-house-fill fs-2 text-warning-emphasis"></i>
	</a>
	<button class="navbar-toggler d-sm-none" type="button">
		<span class="navbar-toggler-icon"></span>
	</button>
	<ul class="nav flex-column flex-sm-row">
		<li class="nav-item">
			<a class="nav-link text-warning-emphasis" href="/signup">Sign up</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-warning-emphasis" href="/simple-calculator">Calculator</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-warning-emphasis" href="#">Services</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-warning-emphasis" href="#">About</a>
		</li>
	</ul>
</nav>
