{{!-- views/home.hbs --}}
<div class="row align-items-end mb-3">
    <div class="col-12 col-md-4 text-center">
        <img
            class="img-fluid"
            src="https://placehold.co/200/png"
            alt="Placeholder Image"
        />
    </div>
    <div class="col-12 col-md-8">
        <h1 class="text-center">Main Content Heading</h1>
        <p>
            This is a paragraph of text in the main content area. It provides information about the topic discussed in this section.
        </p>
    </div>
</div>
<div class="row">
    <h2 id="section1">Section 1</h2>
    <p>Details about Section 1 go here.</p>
    <h2 id="section2">Section 2</h2>
    <p>Details about Section 2 go here.</p>
    <h2 id="section3">Section 3</h2>
    <p>Details about Section 3 go here.</p>
</div>
