{{!-- views/auth/loginSuccess.hbs --}}
<h1 class="mb-4">Đăng nhập thành công</h1>

<p>Xin chào, <strong>{{user.name}}</strong> ({{user.email}})</p>

<a href="/" class="btn btn-primary">Về trang chủ</a>
<a href="/auth/logout" class="btn btn-outline-danger">Logout</a>
